.header {
  width: 100%;
  background: var(--color-badges);
  border-bottom: 1px solid var(--color-badges);
  display: flex;
  justify-content: center;
  height: 68px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 120px;
  max-width: 1440px;
}
