.container {
  position: relative;
  height: calc(100vh - 68px);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.bgImage {
  filter: blur(6px) grayscale(1);
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  max-width: 783px;
  color: var(--color-white);
  text-align: center;
}

.errorCode {
  font-size: 120px;
  font-weight: 700;
  color: var(--color-button);
  line-height: 1;
  margin-bottom: 10px;
  opacity: 0.5;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 16px;
}

.text {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin-bottom: 40px;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 12px 40px;
  background-color: var(--color-button);
  transition: background-color var(--transition);

  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;

  &:hover,
  &:focus {
    background-color: var(--color-button-hover);
  }
}

.buttonGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.button {
  padding: 12px 40px;
  background-color: var(--color-button);
  transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--color-button-hover);
  }
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 12px 40px;
  background-color: var(--color-button);
  transition: background-color var(--transition);

  font-weight: 600;
  font-size: 16px;
  line-height: 1.25;

  &:hover,
  &:focus {
    background-color: var(--color-button-hover);
  }
}
