.overlay {
  position: fixed;
  top: 68px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 68px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  backdrop-filter: blur(4px);

  z-index: 9999;
}
