.container {
  padding: 84px 120px 124px 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.searchWrapper {
  display: flex;
  margin-bottom: 56px;
}

.loadMoreBtn {
  margin-top: 80px;
  border: 1px solid var(--color-button);
  padding: 11px 37px;
  width: 156px;
  transition: border-color var(--transition);

  background-color: transparent !important;

  color: var(--color-main) !important;

  &:hover,
  &:focus {
    border-color: var(--color-button-hover);
  }
}

.loadMoreBtn span[class*="spinner"] {
  border-color: var(--color-gray-light);
  border-top-color: var(--color-main);
}
